*{
    margin:0;
    
    
    
}

body{
    background-color:#0D0D0D;
    font-family: "Montserrat", sans-serif;
    display:Flex;               /* flex the body so it has one big container*/
    flex-direction:column;
    
}

html, body {
    height: 100%;
}
                            
main {   
    flex: 1 0 auto; /* allows space for main to have a nav footer (research this more) */
}

h1, h2, h3, h4 .fa{
    color:white;
}

/* header */

.navbar { 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#1874d0;
    padding-top:15px;



}

/* can use hue here for glow 

.navbar-logos {

}

*/

.searchbar-container {
    display:flex;
    gap:5px;
    margin-bottom:10px;
    
}
.main-brand {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 200px auto;
}

.navbar-logos a, h1{
    text-decoration: none;
    color:white;


}
.nav-links-container ul {
    display: flex;
    flex-direction: row;
    gap:10px;

}

.nav-links-container a {
    text-decoration: none;
    
}

.nav-links-container ul {
    text-decoration: none;
    list-style:none;
}
.nav-links ul a {
    color:white;
}

.navbar .fa {
    margin-top:5px;
    color:white;
}

.search-bar {
    
    border-radius:5px;
    border:0px;
    background-color:whitesmoke;
    padding-right:200px;
}

.sign-in-btn {
    padding:4px;
    border-radius:4px;
    background-color: #18d074;
    
}

.card h2,
.card h3 {
    padding: 12px;
}

.card-img {
    flex: 1 1 100px;
    width:auto;
    height: auto;

}

.card-container{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:50px;
    gap:20px;
}
.card {
    display:flex;
    flex-direction: column;
    text-align: center;
    width:10%;
    background-color:#1874d0;
    border-radius:5px;
    
}

/* gallery*/
.main-brand-gallery {
    display:flex;
    flex-direction:column;
    
    
    
    margin:200px auto;
}

.gallery-row-container {
    display:flex;
    flex-direction:column;
}
.top-card-text{
    text-align: center;
    
    
}


/* contact form */
.form-flex-container {
    display:flex;
    flex-direction: column;
    

}

/* contact form img */
.form-flex-container > .card-img {
    width:auto;
}


.email-form-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    
}

.form-box {
    border-radius:20px;
    border: 0;

}

.text-area-textbox {
    width: 100%;
    
    padding: 10px;
    border-radius: 10px;
    border: 0;
    
}
.email-form-btn {
    border-radius:5px;
    border:0;
    margin-bottom:5px;
    padding:5px;
    width:80%;
}

.footer-container{
    background-color:#1874d0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink:0;
    
    

}

.footer-list {
    display:flex;
    list-style-type: none;
    text-decoration: none;
    margin-top:5px;
    color:white;
    gap:5px;
    
}

.footer-headline {
    
}
